fastapi[standard]
uvicorn[standard]
sqlalchemy
psycopg2-binary
pgvector
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt
python-multipart
sentence-transformers
PyMuPDF
python-dotenv
pytest
httpx
pydantic[email]
google-genai